<div  class="column">
    <p><b>Gleyson D S Lopes</b></p>
    <p>65 Espanha Street - House 6</p>
    <p>Santana de Parnaíba - SP,<br> Brazil 06502-225</p>
    <p>gleysonlopes003@gmail.com</p>
    <p>+55 91 982628735</p>
</div>
<div id="social">
    <a href="https://www.facebook.com/gleyson.douglaslopes.9/?locale=pt_BR" target="_blank">
        <img src="images/facebook.png" alt="Facebook icon">
    </a>
    <a href="https://github.com/gleyson003" target="_blank">
        <img src="images/github.png" alt="GitHub icon">
    </a>
    <a href="https://www.linkedin.com/in/gleyson-lopes-7992a1176/" target="_blank">
        <img src="images/linkedin.png" alt="LinkeDin icon">
    </a>
</div>
<div class="column">
    <p>&copy; <span id="currentyear"></span> News website</p>
    <p>WDD330 Individual Project</p>
    <p><span id="lastModified"></span></p>
</div>