:root {
    --color1: #a4c3ec;   
    --color2: #cacdd1;  
    --color3: #661c1e;       
    --color4: #8b634b;
    --color5: #afa594;
}

main {
    width: 90%;
    margin: 0 5%;
}

#header {
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 100%;
    height: 100px;
    background-color: var(--color3) ;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav > a {
    display: flex;
    margin: 0 auto;
    align-items: center;
    color: var(--color2);
    font-size: 25px;
    padding: 20px;
    text-decoration: none;
}

nav > a:hover {
    color: var(--color3);
    background-color: var(--color2);
    font-size: 30px;
}

#logo img {
    display: block;
    margin: 10px;
    width: 120px;
    height: 80px;
}

#footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    background-color: var(--color3);
    color: var(--color2);
    margin-top: 10px;
}

#social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
}

.column {
    text-align: center;
}

#footer div {
    align-items: center;
}

#social img {
    width: 60px;
    border-radius: 20px;
    display: flex;
    margin: 0 auto;
}


/* Home*/
#banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    margin: 2% 0;
    height: 400px;
}

#banner img {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    width: 100%;
    height: 100%;
}

#banner p {
    margin-right: 20px;
    text-align: justify;
}

#banner button {
    margin-top: 20px;
}

#banner h1 {
    margin-top: 50px;
}

button {
    margin: 0 auto;
    width: 40%;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color4);
    color: var(--color2);
    font-size: large;
}

button:hover {
    background-color: var(--color2);
    color: var(--color4);
}

#converter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 300px;
}

#converter img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 300px;
    width: 70%;
    margin: 0 auto;
}

.bitcoin {
    grid-column: 2 / 3;
    margin-top: -50px;
}

#currency-converter select, input {    
    padding: 1%;
    margin: 1%;
    width: 25%;
    background-color: var(--color2);
    font-size: 15px;
    border-radius: 10px;
}

#currency-converter input {    
    width: 10%;
}

#currency-converter button {   
    width: 20%;
    align-items: center;
}

.converted-value, .bitcoin {
    font-size: 20px;
}

#converted-value, #bitcoin-price {
    font-family: 25px;
    color: var(--color4);
}

#text {
    text-align: justify;
}

@media (max-width: 800px) {
    #banner {
        margin: 5% 0;
    } 
    
    #banner p {
        margin-right: 20px;
        text-align: justify;
    }
    
    #banner button {
        margin-top: 0;
    }
    
    #banner h1 {
        margin-top: 0;
    }

    #converter {
        column-gap: 5px;
    }

    #converter img {
        height: 300px;
        width: 100%;
    }

    #currency-converter select, input {    
        width: 30%;
        background-color: var(--color2);
    }
    
    #currency-converter input {    
        width: 100%;
    }
    
    #currency-converter button {   
        width: 25%;
    }

}

@media (max-width: 705px) {
    #social {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        column-gap: 0px;
    }

    #social img {
        width: 40px;
        border-radius: 10px;
    }

    #footer {
        grid-template-columns: 1fr 1fr 2fr;
        column-gap: 10px;
    }

    .column {
        font-size: small;
    }
}

@media (max-width: 500px) {
    #banner {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    } 
    
    #banner p {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin: 10px 0px;
    }
    
    #banner button {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        margin-top: 25px;
    }
    
    #banner h1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #banner img {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #text {
        margin-top: 220px;
    }

    #converter {
        grid-template-columns: 1fr;
        margin-bottom: 250px;
    }
    
    #converter img {
        grid-row: 1 / 2;
        height: 300px;
        width: 100%;
        margin: 0 auto;
    }
    
    .bitcoin {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin-top: -10px;
    }
    
    #currency-converter select, input {  
        width: 30%;
    }
    
    #currency-converter input {    
        width: 95%;
        display: flex;
        margin: 0 auto;
    }
    
    #currency-converter button {   
        width: 27%;
        margin-top: 10px;
    }
}


@media (max-width: 425px) {
    #header {
        grid-template-columns: 1fr;
    }

    #logo img {
        display: flex;
        margin: 5px auto 0px;
        width: 70px;
        height: 50px;
    }

    nav {
        grid-row: 2 / 3;
    }

    nav > a {
        margin: 0 auto;
        font-size: 18px;
        padding: 1px;
    }

    nav > a:hover {
        font-size: 20px;
    }

    #footer {
        grid-template-columns: 1fr 1fr 3fr;
        column-gap: 10px;
    }

    #text {
        margin-top: 250px;
    }
}

@media (max-width: 320px) {
   

    #text {
        margin-top: 270px;
    }
}